*{
  margin: 0;
  padding: 0;
  font-family: Heebo;
}

.box{
  width: 986px;
  height: 109px;
  margin-top: 60px;
  margin-left: 150px;
  background: #F3F3F3;
  border: 1px solid #7A7A7A;
  box-sizing: border-box;
  border-radius: 10px;
}

.form-title{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #575757;
  margin-top: 24px;
}

.requester{
  width: 988px;
  height: 330px;
  margin-left: 150px;
  border: 1px solid #7A7A7A;
  border-radius: 10px;
}

.requester-title{
  margin-top: 38px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #656565;
}

.requester-info{
  margin: 19px 32px 45px 27px;
}

.requester-info input{
  width: 926px;
  height: 31px;
  border: 1px solid #989898;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-indent: 15px;
}

.expenses{
  width: 988px;
  height: 43px;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenses h2{
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #656565;
  margin-left: 600px;
}

.expenses button{
  width: 153px;
  height: 36px;
  background: #71AA70;
  border-radius: 10px;
  color: #fff;
  margin-left: 150px;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.expenses button:hover{
  cursor: pointer;
}

.expenses i{
  margin-right: 15px;
}

.expenses-box{
  width: 988px;
  height: auto;
  border: 1px solid #7A7A7A;
  border-radius: 10px;
  margin-left: 150px;
  margin-bottom: 150px;
}

.expenses-row{
  margin: 20px;
}

.expenses-row i{
  color: #D45757;
}

.expenses-row button{
  all: unset;
  cursor: pointer;
  font-size: 40px;
  box-sizing: border-box;
}

.expenses-row button:focus{
  outline: orange 1.5px auto;
}

.expenses-row select{
  height: 31px;
  border: 1px solid #7A7A7A;
  box-sizing: border-box;
  border-radius: 10px;
}

.expenses-row input{
  border: 1px solid #7A7A7A;
  box-sizing: border-box;
  border-radius: 10px;
  text-indent: 15px;
}

.expenses-row input[type=text]{
  width: 323px;
  height: 31px;
}

.expenses-row input[type=number]{
  width: 114px;
  height: 31px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.group{
  width: 988px;
  height: 106px;
  margin-top: 46px;
  display: flex;
  background: #C4C4C4;
  border: 1px solid #7A7A7A;
  border-radius: 10px;
}

.actions{
  width: 247px;
  height: 106px;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.button-box{
  width: 741px;
  height: 106px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-box input, button{
  width: 208px;
  height: 56px;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.button-box input[type=reset]{
  background: #EEB764;
  margin-left: 36px;
}

.button-box button[type=cancel]{
  background: #D45757;
}

.button-box input[type=submit]{
  background: #71AA70;
  margin-right: 36px;
}

.grand-total{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 26px;
  margin-top: 30px;
}

.grand-total p{
  width: 129px;
  height: 33px;
  font-size: 24px;
  font-weight: 500;
  color: #7A7A7A;
}

.grand-total input{
  width: 184px;
  height: 49px;
  background: #F3F3F3;
  border: 1px solid #575757;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  text-indent: 20px;
  color: #7A7A7A;
}

.row.highlighted select, .row.highlighted input{
  border: 2px solid #F05353;
}