*{
  margin: 0;
  padding: 0;
  font-family: Heebo;
}

.content{
  width: 100%;
  height: 489px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0;
}

.text{
  position: relative;
  color: #21243D;
}

.text h1{
  width: 506px;
  height: 85px;
  font-weight: 700;
  font-size: 44px;
}

.text p{
  width: 497px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 80px;
  text-align: justify;
}

.text a{
  width: 208px;
  height: 47px;
  background-color: #787878;
  position: absolute;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  color: #FFF;
  border-radius: 2px;
}

.image img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.image{
  display: flex;
  justify-content: center;
  width: 256px;
  height: 258px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.skills{
  width: 100%;
  height: 340px;
  background-color: #F3F3F3;
  padding-top: 16px;
}

.skill{
  display: flex;
  margin-bottom: 29px;
  justify-content: center;
}

.skills h2{
  font-weight: 700;
  text-align: center;
  margin-bottom: 39px;
  color: #21243D;
}

.skill-title{
  width: 150px;
  height: 34px;
  font-size: 20px;
  color: #8695A4;
  margin-right: 50px;
  white-space: nowrap;
}

.skill-level{
  background: #C4C4C4;
  width: 324px;
  height: 25px;
  border-radius: 6px;
}

hr{  
  height: 229px;
  border: 1px solid #989898;
}

.percentage1{
  width: 75%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage2{
  width: 50%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage3{
  width: 50%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage4{
  width: 25%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage5{
  width: 100%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage6{
  width: 100%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage7{
  width: 100%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.percentage8{
  width: 100%;
  height: 100%;
  background: #7A7A7A;
  border-radius: 6px;
}

.skills-group{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.skills-row{
  width: 70%;
}

.highlights{
  width: 231px;
  height: 60px;
  color: #21243D;
  font-size: 22px;
  margin-top: 30px;
}

.projects{
  max-width: 1200px;
  height: 846px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.everything{
  display: flex;
  gap: 10px;
}

.everything a{
  height: fit-content;
}

.figure{
  height: 180px;
  width: 246px;
  border-radius: 6px;
}

.link{
  height: 180px;
  width: 246px;
  background: #C4C4C4;
  border-radius: 6px;
}

.projects h2{
  height: 44px;
  font-weight: 700;
  display: flex;
  color: #21243D;
}

.items{
  display: flex;
}

.year{
  width: 62px;
  height: 25px;
  background: #142850;
  border-radius: 16px;
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}

.category{
  width: 374px;
  height: 34px;
  font-size: 20px;
  color: #8695A4;
  margin-left: 26px;
}

.description{
  width: 594px;
  height: 93px;
  display: flex;
  font-size: 16px;
  color: #21243D;
}

.info{
  display: flex;
  flex-direction: column;
}